{% extends 'base.html' %}

{% block head %}

<title>Task Master</title>

{% endblock %}

{% block body %}

<div class="content">
    <h1 style="text-align: center">Task Master</h1>

    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>

        <tr>
            {% for task in tasks %}
            <td>{{task.content}}</td>
            <td>{{task.date_created.date()}}</td>
            <td>
                <a href="">Delete</a>
                <br>
                <a href="">Update</a>
            </td>

            {% endfor %}
        </tr>
    </table>

    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>
</div>

{% endblock %}